<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/footer.css">
    <link rel="stylesheet" href="styles/header.css">
</head>
<body>
    <%- include("partials/header.ejs") %>

    <div class="post-container">
        <div>
            <h1><u><%= data.title %></u></h1>
            <h3><%= data.subtitle %></h3>
            <img src="<%= data.image_url %>" alt="">
            <p><%= data.body %></p>
            <div class="buttons-container">
                <form action="/" method="get" style="margin-bottom: 0px;">
                    <input class="button" type="submit" value="Back to Home"></input>
                </form>
                <form action="/change" method="post" style="margin-bottom: 0px;">
                    <input type="hidden" name="post-number" style="height: 0px; width: 0px;" value=<%= postNumber %> />
                    <input class="button" type="submit" value="Change post"></input>
                </form>
                <form action="/delete" method="post" style="margin-bottom: 0px;">
                    <input type="hidden" name="post-number" style="height: 0px; width: 0px;" value=<%= postNumber %> />
                    <input class="button" type="submit" value="Delete Post"></input>
                </form>
            </div>
        </div>
    </div>

    <%- include("partials/footer.ejs") %>
</body>
</html>